/* css styles */
.profile-pic {
    border-radius: 50%;
  }

.navbar-dark{
    background-color: #1b1b1d;
}

@media (max-width: 991.98px){
div.quarto-about-trestles .about-entity .about-links {
    flex-direction: row;
    column-gap: 0.8em;
    row-gap: 15px;
}
}
