/* css styles */
.profile-pic {
    border-radius: 50%;
}

@media (max-width: 600px){
.profile-pic {
    display: none;
}
} 

@media (min-width: 600px){
    .profile-header .quarto-layout-row{
        flex-direction: row;
    }
    .formkit-form .formkit-fields {
        flex-direction: row!important;
    }
}

.profile-pic {
    border-radius: 50%;
}

.profile-pic2 {
    border-radius: 50%;
}

.quarto-dark .navbar-dark{
    background-color: #1b1b1d;
}

.quarto-dark .ex{
    color:#d4d0ab;
    font-weight: normal;    
}

.sourceCode .at{
    color:#d4d0ab;
    font-weight: normal;
}

.sourceCode .co{
    color:#d1b4e0;
    font-weight: normal;
}


@media (min-width: 991px){
    .mobile-warning{
        display: none;
    }
}

.formkit-field {
    background-color: gray;
}

input[type="text"], textarea {

    background-color : #d1d1d1!important; 
  
  }

  .nav-tabs .nav-link {
    border-color: #53b2ca;
  }
  
  .nav-tabs .nav-link.active {
    border-color: #b6ced4;
  }