<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>        
        {% if site.logo %}
          <p style="text-align: center;"><img src="{{site.logo | relative_url}}" alt="Logo"/></p>
        {% endif %}

        <p style="text-align: center;">{{ site.description | default: site.github.project_tagline }}</p>
        
        <br>
        <h3 id="get-in-touch" style="text-align: center;">Get In Touch</h3>
        <p style="text-align: center;"><a href="https://twitter.com/HamelHusain"><img src="/icons8-twitter-48.png" alt=""></a> <a href="https://www.linkedin.com/in/hamelhusain/"><img src="/icons8-linkedin-48.png" alt=""></a> <a href="http://www.github.com/hamelsmu"><img src="/icons8-github-48.png" alt=""></a></p>


      </header>
      <section>

      {{ content }}

      </section>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
    {% if site.google_analytics %}
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      ga('create', '{{ site.google_analytics }}', 'auto');
      ga('send', 'pageview');
    </script>
    {% endif %}
  </body>
</html>
